<%= render 'user_app_status' %>

<h1>Editing Allowed App</h1>

<%= render 'form', allowed_app: @allowed_app %>

<% content_for :operations do %>
<%= link_to 'Show', allowed_app_path(@allowed_app), class: 'btn btn-primary' %>
<% end %>
