<%= render 'user_app', user: @user, allowed_app: @allowed_app %>

<h1>Editing Allowed App</h1>

<%= render 'form', allowed_app: @allowed_app %>


<% content_for :operations do %>
<%= link_to 'Show', user_allowed_app_path(@user, @allowed_app), class: 'btn btn-primary' %>
<% end %>
