<h1>New App</h1>

<%= render 'form', app: @app %>

<% content_for :operations do %>
<pre>
For Permissions uou can use:

- Array
"role": ["admin", "user"]

- String
"internal_code": "string"

- Integer
"quantity": "integer"

- Boolean
"enabled": "boolean"
</pre>
<% end %>