        </main>
        </div><!-- row -->
          <div class="row">
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4" id="div-footer">
              <%= yield :footer %>
            </div>
          </div>
          
    </div><!-- container-fluid -->
  </body>
</html>