  <%= render "layouts/pre_yield" %>
          <div class="col-sm-8">
            <%= yield %>
          </div>
          <div class="col-sm-4">
            <%= yield :operations %>
          </div>
  <%= render "layouts/post_yield" %>